keras==2.2.5
tensorflow==1.15.2
n2v
wget
fpdf
memory_profiler
numpy
matplotlib
urllib3
random
shutil 
zipfile
tifffile
time
sys
pathlib
pandas
csv
glob
scipy
skimage
sklearn
astropy
datetime
subprocess
