astropy
astunparse
certifi
chardet
cloudpickle
configparser
csbdeep
dask
dill
h5py
wget
flatbuffers
idna
fpdf
gast
google
httplib2
nodejs
imageio
joblib
llvmlite
multiprocess
numba
numpy
oauth2client
py
pyasn1
pydot
requests
rsa
scikit-image
scikit-learn
scipy
six
sortedcontainers
tblib
tensorboard
torch
tensorflow==2.3
termcolor
tifffile
toolz
tqdm
uritemplate
urllib3
wrapt
ipyfilechooser
opencv-python
ipywidgets
jupyterlab_widgets
pandas
tabulate