# Requirements for U_Net_2D_Multilabel_ZeroCostDL4Mic.ipynb
PTable==0.9.2
Pillow==11.3.0
data==0.4
fpdf2==2.8.7
future==1.0.0
h5py==3.16.0
ipywidgets==8.0.7
matplotlib==3.10.0
numexpr==2.14.1
numpy==2.0.2
pandas==2.2.2
pathlib==1.0.1
pip==24.1.2
requests==2.32.4
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.16.3
tensorflow==2.19.0
tifffile==2026.3.3
tqdm==4.67.3
wget==3.2
zarr==3.1.5
