# Requirements for CARE_2D_ZeroCostDL4Mic.ipynb
Augmentor==0.2.12
astropy==5.2.2
csbdeep==0.7.4
fpdf2==2.7.4
future==0.18.3
h5py==3.10.0
google==2.0.3
matplotlib==3.7.1
memory-profiler==0.61.0
numexpr==2.8.4
numpy==1.22.4
pandas==1.5.3
pathlib==1.0.1
pip==23.1.2
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
tensorflow==2.12.0
tifffile==2023.7.18
tqdm==4.65.0
wget==3.2
