# Requirements for Cellpose_2D_ZeroCostDL4Mic.ipynb
astropy==5.3.2
cellpose==2.2.3
folium==0.2.1
fpdf2==2.7.5
google==2.0.3
h5py==3.10.0
imgaug==0.2.5
ipywidgets==8.1.0
matplotlib==3.7.1
memory-profiler==0.61.0
numba==0.56.4
numpy==1.23.5
opencv-python-headless==3.4.18.65
opencv-python==4.8.0.76
pandas==1.5.3
pathlib==1.0.1
pip==23.1.2
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
tabulate==0.9.0
tensorflow==2.12.0
tifffile==2023.8.12
tqdm==4.66.1
wget==3.2
