# Requirements for CycleGAN_ZeroCostDL4Mic.ipynb
astropy==6.1.7
Augmentor==0.2.12
bioimageio.core==0.6.9
bioimageio.spec==0.5.3.2
dominate==2.9.1
fpdf2==2.8.1
h5py==3.12.1
imageio==2.36.1
ipywidgets==8.0.7
lpips==0.1.4
matplotlib==3.8.0
numexpr==2.10.2
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.2
pathlib==1.0.1
pydantic==2.9.2
pip==24.1.2
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
tifffile==2024.9.20
torch==2.5.1
torchvision==0.20.1
tqdm==4.66.6
visdom==0.2.4
wandb==0.18.7