tensorflow==2.4.1
scikit-image==0.16.2
scipy==1.4.1
numpy==1.21.0
pandas==1.1.5
matplotlib==3.2.2
h5py==2.10.0
scikit-learn==0.22.2.post1
Pillow==7.0.0
astropy
fpdf==1.7.2
ipywidgets==7.6.3
tqdm==4.41.1
numba==0.51.2
