# Requirements for Deep_STORM_2D_ZeroCostDL4Mic.ipynb
Pillow==9.4.0
astropy==5.2.2
fpdf2==2.7.4
google==2.0.3
h5py==3.8.0
ipywidgets==8.0.7
matplotlib==3.7.1
numba==0.56.4
numexpr==2.8.4
numpy==1.22.4
pandas==1.5.3
pip==23.1.2
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
tensorflow==2.12.0
tqdm==4.65.0