# Requirements for Deep_STORM_2D_ZeroCostDL4Mic.ipynb
Pillow==11.3.0
astropy==7.1.0
fpdf2==2.8.4
google==2.0.3
h5py==3.14.0
ipywidgets==8.0.7
matplotlib==3.10.0
numba==0.60.0
numexpr==2.11.0
numpy==2.0.2
pandas==2.2.2
pip==23.1.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.16.1
tensorflow==2.19.0
tqdm==4.67.1
