certifi==2020.12.5
chardet==3.0.4
fpdf==1.7.2
gast==0.3.3
google==2.0.3
h5py==2.10.0
httplib2==0.17.4
idna==2.10
image==1.5.33
imageio==2.4.1
multiprocess==0.70.11.1
numpy==1.19.5
oauth2client==4.1.3
portpicker==1.3.1
py==1.10.0
pyasn1==0.4.8
pydot==1.3.0
requests==2.23.0
rsa==4.7.2
scipy==1.2.0
scikit-image==0.16.2
six==1.15.0
tensorboard==1.15.0
tensorflow==2.5.3
termcolor==1.1.0
uritemplate==3.0.1
urllib3==1.24.3
wrapt==1.12.1
zmq==0.0.0
