# Requirements for MaskRCNN_ZeroCostDL4Mic.ipynb

fpdf2==2.7.4
imgaug==0.4.0
ipython==8.4.0
matplotlib==3.5.0
numpy==1.22.4
pandas==1.5.3
Pillow==8.4.0
pip==21.2.4
scikit-image==0.19.3
tensorflow==2.12.0