# Requirements for Noise2Void_3D_ZeroCostDL4Mic.ipynb
astropy==5.2.2
csbdeep==0.7.3
fpdf2==2.7.4
google==2.0.3
matplotlib==3.7.1
memory-profiler==0.61.0
n2v==0.3.2
numexpr==2.8.4
numpy==1.22.4
pandas==1.5.3
pathlib==1.0.1
pip==23.1.2
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.0
tensorflow==2.12.0
tifffile==2023.7.4
wget==3.2
