# Requirements for StarDist_2D_ZeroCostDL4Mic.ipynb
PTable==0.9.2
Pillow==9.4.0
astropy==5.2.2
csbdeep==0.7.4
fpdf2==2.7.4
future==0.18.3
google==2.0.3
gputools==0.2.14
imagecodecs==2023.7.10
ipywidgets==8.0.7
matplotlib==3.7.1
numpy==1.22.4
opencv-python==4.8.0.76
pandas==1.5.3
pathlib==1.0.1
pip==23.1.2
requests==2.31.0
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
stardist==0.8.5
tabulate==0.9.0
tensorflow==2.12.0
tifffile==2023.7.18
tqdm==4.65.0
wget==3.2
zarr==2.16.0
