name: Create Conda Environment

on: [push]

jobs:
  conda:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          environment-file: .binder/environment.yml
          python-version: ${{ matrix.python-version }}
      - name: Conda info
        shell: bash -el {0}
        run: conda info
      - name: Conda list
        shell: pwsh
        run: conda list
      - name: Conda activate
        shell: bash -el {0}
        run: constructor --output-dir dist/main
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}
          path: dist/main
